<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485265449635-ca623a55e95c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1296&q=60);">
  <div class="container">
    <h1>Here are the best Cocktails !</h1>
    <p>Looking for a cocktail ? a Recipe ? here are the best cocktails you can create !</p>
    <p class="add_cocktail_link"><%=link_to "Add a new cocktail", new_cocktail_path%></p>
  </div>
</div>
<div class="container">
    <ul>
        <% @cocktails.each do |cocktail| %>
          <li>
            <%= link_to cocktail.name, cocktail_path(cocktail)%>
            <%= cl_image_tag cocktail.photo.key, width: 400, height: 300, crop: :fill %>
          </li>
       <% end %>
    </ul>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> Mr Best Cocktails
  </div>
</div>







